.portrait {
  max-width: 200px;
  min-width: 100px;
  max-height: 200px;
  min-height: 100px;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  padding-top: 2rem;
}
